In [237]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

data = pd.read_csv('vTargetMailCustomer.csv', encoding='latin1')
selected_features = ['CustomerKey', 'MaritalStatus', 'Gender', 'YearlyIncome', 'TotalChildren', 'EnglishEducation', 'EnglishOccupation', 'HouseOwnerFlag', 'NumberCarsOwned', 'CommuteDistance', 'Region', 'Age', 'BikeBuyer']

target_buyers = data[selected_features]
target_buyers.to_csv('vBikeBuyers.csv', index=False)
data = pd.read_csv('vBikeBuyers.csv')
data = data.sample(n=1000)
data.head()

,CustomerKey,MaritalStatus,Gender,YearlyIncome,TotalChildren,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
4975,15975,S,F,90000,4,High School,Professional,0,2,1-2 Miles,North America,54,0
5826,16826,M,M,130000,3,Partial College,Professional,1,3,5-10 Miles,Europe,57,1
2314,13314,M,M,120000,1,High School,Professional,1,4,5-10 Miles,North America,55,1
12486,23486,S,M,80000,5,Partial College,Professional,1,3,5-10 Miles,North America,52,1
5157,16157,M,F,90000,1,Graduate Degree,Management,0,0,0-1 Miles,Pacific,46,1

In [238]:
data = data.drop(columns=['CustomerKey'], axis=1, inplace=False)
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 4975 to 13208
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MaritalStatus      1000 non-null   object
 1   Gender             1000 non-null   object
 2   YearlyIncome       1000 non-null   int64
 3   TotalChildren      1000 non-null   int64
 4   EnglishEducation   1000 non-null   object
 5   EnglishOccupation  1000 non-null   object
 6   HouseOwnerFlag     1000 non-null   int64
 7   NumberCarsOwned    1000 non-null   int64
 8   CommuteDistance    1000 non-null   object
 9   Region             1000 non-null   object
 10  Age                1000 non-null   int64
 11  BikeBuyer          1000 non-null   int64
dtypes: int64(6), object(6)
memory usage: 101.6+ KB

In [239]:
data['MaritalStatus'] = data['MaritalStatus'].replace({'M': 1, 'S': 0})
data['Gender'] = data['Gender'].replace({'F': 1, 'M': 0})

# One hot Encoding Region
encoder = OneHotEncoder(handle_unknown='ignore')
encoded_data = encoder.fit_transform(data[['Region']])
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['Region']))
data = pd.concat([data.reset_index(drop=True), encoded_df], axis=1)
data = data.drop(columns=['Region'], axis=1)

# One hot Encoding EnglishOccupation
encoder = OneHotEncoder(handle_unknown='ignore')
encoded_data = encoder.fit_transform(data[['EnglishOccupation']])
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['EnglishOccupation']))
data = pd.concat([data.reset_index(drop=True), encoded_df], axis=1)
data = data.drop(columns=['EnglishOccupation'], axis=1)

# One hot Encoding EnglishEducation
encoder = OneHotEncoder(handle_unknown='ignore')
encoded_data = encoder.fit_transform(data[['EnglishEducation']])
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['EnglishEducation']))
data = pd.concat([data.reset_index(drop=True), encoded_df], axis=1)
data = data.drop(columns=['EnglishEducation'], axis=1)

encoder = OneHotEncoder(handle_unknown='ignore')
encoded_data = encoder.fit_transform(data[['CommuteDistance']])
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['CommuteDistance']))
data = pd.concat([data.reset_index(drop=True), encoded_df], axis=1)
data = data.drop(columns=['CommuteDistance'], axis=1)
data.head(20)

,MaritalStatus,Gender,YearlyIncome,TotalChildren,HouseOwnerFlag,NumberCarsOwned,Age,BikeBuyer,Region_Europe,Region_North America,...,EnglishEducation_Bachelors,EnglishEducation_Graduate Degree,EnglishEducation_High School,EnglishEducation_Partial College,EnglishEducation_Partial High School,CommuteDistance_0-1 Miles,CommuteDistance_1-2 Miles,CommuteDistance_10+ Miles,CommuteDistance_2-5 Miles,CommuteDistance_5-10 Miles
0,0,1,90000,4,0,2,54,0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0,130000,3,1,3,57,1,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,0,120000,1,1,4,55,1,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0,0,80000,5,1,3,52,1,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,90000,1,0,0,46,1,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,1,0,70000,4,1,1,61,0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0,1,70000,3,1,0,43,1,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,0,0,10000,1,0,0,79,0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,0,0,20000,0,0,1,37,1,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,0,60000,0,1,2,40,1,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
10,1,1,20000,2,1,2,65,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
11,1,1,60000,1,1,1,54,1,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
12,0,0,70000,0,0,1,51,0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,0,1,20000,0,0,2,34,1,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
14,0,0,60000,0,1,1,48,1,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,0,0,10000,4,1,2,50,0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
16,1,0,80000,3,1,1,59,1,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
17,1,0,70000,1,0,1,53,1,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,0,1,30000,0,1,2,35,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
19,0,1,10000,1,1,0,38,1,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [248]:
# Creating feature and target column
features = list(data.loc[:, data.columns != 'BikeBuyer'])

X = data.loc[:, data.columns != 'BikeBuyer']
y = data['BikeBuyer']

In [300]:
from sklearn import tree, metrics
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=2)
### Getting better results
from sklearn.model_selection import GridSearchCV
param_grid = {
    'max_depth': [5, 7, 10, 12],
    'min_samples_leaf': [1, 2, 8, 10],
    'min_samples_split': [2, 17, 20, 28]
    
}

grid_search = GridSearchCV(DecisionTreeClassifier(random_state = 42), param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
####### Decision Trees #########

dtree = DecisionTreeClassifier(**best_params)
dtree = dtree.fit(X_train, y_train)
y_pred = dtree.predict(X_test)
print('Best Parameters:', best_params)
print('Classification Tree Prediction:', y_pred)

Best Parameters: {'max_depth': 12, 'min_samples_leaf': 2, 'min_samples_split': 20}
Classification Tree Prediction: [0 1 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 1 1 0 0 0 1 1 1 0 1 1 0 1 0 0
 1 0 1 0 1 1 0 0 1 1 1 0 0 0 0 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 1 0 1 1 0 1 0
 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 1 0 1 1
 0 0 0 1 1 1 1 0 0 0 0 1 1 0 0 1 1 0 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 1 1 1 0
 0 1 0 1 0 1 1 1 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 0 1 1
 1 1 0 1 1 1 0 1 1 0 1 0 1 1 1]

In [290]:
from sklearn import metrics
print('Accuracy: ', metrics.accuracy_score(y_test, y_pred))
print("Report:")
print(metrics.classification_report(y_test, y_pred))

Accuracy:  0.66
Report:
              precision    recall  f1-score   support

           0       0.66      0.62      0.64        97
           1       0.66      0.70      0.68       103

    accuracy                           0.66       200
   macro avg       0.66      0.66      0.66       200
weighted avg       0.66      0.66      0.66       200

In [302]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split, GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.4, random_state=1)

###### Naïve Bayes #######
gnb = GaussianNB()

param_grid = {'var_smoothing': [1e-14, 1e-9, 1e-8, 1e-7, 1e-1]}

grid_search = GridSearchCV(gnb, param_grid, cv=5, scoring='accuracy')

grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
print("Best params:", best_params)

gnb.fit(X_train, y_train)
best_gnb = grid_search.best_estimator_

y_pred = gnb.predict(X_test)
print('Classification Naive Bayes:', y_pred)

Best params: {'var_smoothing': 1e-09}
Classification Naive Bayes: [0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1
 1 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 1 1 0 1 0 1
 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 0 0 0 0 1 1 0 0 1 0 0 0 1
 0 1 1 1 0 1 0 1 0 1 1 0 1 0 1 1 0 0 0 1 1 1 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0
 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 1 0 1 1 0
 1 0 0 0 1 1 0 1 0 1 1 1 0 1 1 1 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 1 0 0 1 1
 1 1 1 0 0 0 1 1 1 0 0 1 1 1 0 1 1 1 1 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 1 1
 0 0 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 0 1 1 0 0 0 0 1 1 1 0 1 0 1
 0 1 0 0 1 1 1 1 0 1 1 0 1 1 0 0 1 1 0 0 1 0 0 1 1 0 0 1 1 1 1 0 0 0 0 1 1
 1 0 0 0 1 1 1 0 0 0 0 1 0 1 1 1 0 1 1 1 1 1 0 0 0 1 0 0 0 0]

In [283]:
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ', accuracy) 
print('Report:')
print(metrics.classification_report(y_test, y_pred))

Accuracy:  0.6
Report:
              precision    recall  f1-score   support

           0       0.59      0.61      0.60       198
           1       0.61      0.59      0.60       202

    accuracy                           0.60       400
   macro avg       0.60      0.60      0.60       400
weighted avg       0.60      0.60      0.60       400

In [ ]:
import seaborn as sns

correlations = data.corr()

sns.heatmap(correlations, xticklabels=correlations.columns, yticklabels=correlations.columns, annot=False)

sns.clustermap(correlations, xticklabels=correlations.columns, yticklabels=correlations.columns, annot=True)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

######## Random Forest ##########
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [5, 7, 10, 12],
    'min_samples_leaf': [1, 2, 8, 10],
    'min_samples_split': [2, 17, 20, 28] 
}

rf_clf = RandomForestClassifier(random_state=42)

grid_search = GridSearchCV(rf_clf, param_grid, cv=5, scoring='accuracy')

grid_search.fit(X_train, y_train)
#rf_clf.fit(X_train, y_train)
best_params = grid_search.best_params_

y_pred = rf_clf.predict(X_test)

print('Best params:', best_params)
print('Random Forest:', y_pred)

In [307]:
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ', accuracy) 
print('Report:')
print(metrics.classification_report(y_test, y_pred))

Accuracy:  0.6625
Report:
              precision    recall  f1-score   support

           0       0.64      0.73      0.68       198
           1       0.69      0.59      0.64       202

    accuracy                           0.66       400
   macro avg       0.67      0.66      0.66       400
weighted avg       0.67      0.66      0.66       400